/**
* helpers
**/
@mixin print($declarations) {
    @each $property, $value in $declarations {
        #{$property}: $value
    }
}


@mixin pseudo($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
}